<!--Footer-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h3>Digital Library Federation</h3>
        <p>The Digital Library Federation is committed to supporting inclusive, equitable, and highly effective communities of practice. We strive to be a welcoming organization and the focal point for a digital library culture that is actively anti-racist; that values evidence, expertise, and the diversity of human experience; that recognizes the intersectional effects of systemic oppression of all kinds; and that works compassionately across difference toward shared and inspiring goals. We invite everyone who shares our goals to learn more and <a href="https://www.diglib.org/about/join/">join us</a>.</p>
        <h5>Social</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://twitter.com/CLIRDLF">
              <i class="fa fa-twitter"></i>
              Twitter</a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/DLFCLIR">
                <i class="fa fa-youtube"></i>
                Youtube
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/CLIRDLF">
                <i class="fa fa-facebook"></i>
                Facebook
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/clirdlf/">
                <i class="fa fa-instagram"></i>
                Instagram
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/groups/4836034/profile">
                <i class="fa fa-linkedin"></i>
                LinkedIn
              </a>
            </li>
          </ul>
        </div>
        <div class="col-5">
          <div class="footer-banner">
            <h3 class="footer-title dlf">
              <i class="icon-dlf-logo"></i>
              DLF</h3>
              <div class="vcard">
                <p>
                  <span class="fn org">Digital Library Federation</span><br>
                </p><div class="adr">
                  <div class="street-address">
                    1707 L St. NW,<br>
                    Suite 650
                    <br>
                  </div>
                </div>
                <div>
                  <span class="locality">Washington</span>,
                  <abbr class="region" title="District of Columbia">DC</abbr>
                  <span class="postal-code">20036</span>
                  <br>
                </div>

                <abbr title="Phone">P:</abbr>
                <span class="tel">(202) 939-4750</span>
                <br>
                <abbr title="Email">E:</abbr>
                <a class="email" href="mailto:info@diglib.org">info@diglib.org</a>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-info-area">
        <div class="container">
          <div class="site-info">
            <p class="pull-right">
              All content on this site is available for re-use under
              <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0 License</a>
            </p>
            <p class="logo">
              <a href="https://www.clir.org/">
                <i class="icon-clir-logo-square clir-color"></i>
                <span class="clir clir-font clir-color">CLIR</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/.Footer-->
<!-- The scroll to top feature -->
<div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{ '/js/scripts.js' | prepend: site.baseurl }}"></script>

{% if site.google-tracking-id %}
<script>
window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
ga('create','{{ site.google-tracking-id }}','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
{% endif %}
