<a class="menu-btn" href="javascript:void(0)">
  <ion-icon name="menu"></ion-icon>
</a>
<div class="row justify-content-center">
  <!--=================== side menu ====================-->
  <div class="col-lg-2 col-md-3 col-12 menu_block">

    <!--logo -->
    <div class="logo_box">
      <a href="index.html">
        <img src="images/DLF-dashboard-placeholder.png" alt="DLF-logo-white">
      </a>
    </div>
    <!--logo end-->

    <!--main menu -->
    <div class="side_menu_section">
      <ul class="menu_nav">
        <li class="active">
          <a href="index.html">
            Home
          </a>
        </li>
        <li>
          <a href="about.html">
            About
          </a>
        </li>
        <li>
          <a href="projects.html">
            Projects
          </a>
        </li>
        <li>
          <a href="https://www.diglib.org/news/">
            Blog
          </a>
        </li>
        <li>
          <a href="contact.html">
            Contact
          </a>
        </li>
      </ul>
    </div>
    <!--main menu end -->

    <!--filter menu -->
    <div class="side_menu_section">
      <h4 class="side_title">filter by:</h4>
      <ul  id="filtr-container"  class="filter_nav">
        <li data-filter="*" class="active"><a href="javascript:void(0)">All</a></li>
        <li data-filter=".dlf-groups"> <a href="javascript:void(0)">Groups</a></li>
        <li data-filter=".dlf-affiliates"><a href="javascript:void(0)">Affiliates</a></li>
        <li data-filter=".best-practices"><a href="javascript:void(0)">Best Practices</a></li>
        <li data-filter=".toolkits"><a href="javascript:void(0)">Toolkits</a></li>
        <li data-filter=".professional-development"><a href="javascript:void(0)">Professional Development</a></li>
        <li data-filter=".visualizations"><a href="javascript:void(0)">Visualizations</a></li>
        <li data-filter=".reports"><a href="javascript:void(0)">Reports &amp; Grey Literature</a></li>
        <li data-filter=".events"><a href="javascript:void(0)">Events</a></li>

      </ul>
    </div>
    <!--filter menu end -->

    <!--social and copyright -->
    <div class="side_menu_bottom">
      <div class="side_menu_bottom_inner">
        <ul class="social_menu">
          <li>
            <a href="https://www.instagram.com/clirdlf/"> <ion-icon name="logo-instagram" style="color:white"></ion-icon></i> </a>
          </li>
          <li>
            <a href="https://www.facebook.com/CLIRDLF"> <ion-icon name="logo-facebook" style="color:white"></ion-icon> </a>
          </li>
          <li>
            <a href="https://twitter.com/clirdlf"> <ion-icon name="logo-twitter" style="color:white"></ion-icon> </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/digital-library-federation"> <ion-icon name="logo-linkedin" style="color:white"></ion-icon> </a>
          </li>
        </ul>
        <div class="copy_right">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </div>
    <!--social and copyright end -->

  </div>
  <!--=================== side menu end====================-->
