<section id="testimonial">
    <div class="container">
        <div class="row wrap-testimonial">
            <div class="owl-carousel owl-theme">
                <div class="list-testimonial">
                    <div class="content-testimonial">
                        <h3 class="testi">
                            "Individual commitment to a group effort--that is what makes a team work, a company work, a society work, a civilization work."
                        </h3>
                        <p class="people">
                            Vince Lombardi
                        </p>
                    </div>
                </div>
                <div class="list-testimonial">
                    <div class="content-testimonial">
                        <h3 class="testi">
                            "Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results."
                        </h3>
                        <p class="people">
                            Andrew Carnegie
                        </p>
                    </div>
                </div>
                <div class="list-testimonial">
                    <div class="content-testimonial">
                        <h3 class="testi">
                            "Alone we can do so little, together we can do so much."
                        </h3>
                        <p class="people">
                            Helen Keller
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask-testimonial"></div>
</section>
