<!-- <section id="testimonial">
    <div class="container">
        <div class="row wrap-testimonial">
            <div class="owl-carousel owl-theme">
                <div class="list-testimonial">
                    <div class="content-testimonial">
                        <h3 class="testi">
                          “Use this federation, this DLF. It is yours. Its whole purpose is to be a framework for what you need. [Use it] to create—or resist.”
                        </h3>
                        <p class="people">
                            Bethany Nowviskie, DLF Executive Director
                        </p>
                    </div>
                </div>
                <div class="list-testimonial">
                    <div class="content-testimonial">
                        <h3 class="testi">
                            "Reach out to DLF staff and former leaders to find out as much information [as you can]. They are your best resource when first getting started.”
                        </h3>
                        <p class="people">
                            Cristela Garcia-Spitz
                        </p>
                    </div>
                </div>
                <div class="list-testimonial">
                    <div class="content-testimonial">
                        <h3 class="testi">
                            "You will lose people along the way – don’t fret it.  Focus on where the energy is, and keep the ball rolling by engaging the ones with the energy."
                        </h3>
                        <p class="people">
                            Jody DeRidder
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask-testimonial"></div>
</section> -->
