<section class="bg-gray" id="works2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="title-small-center text-center"><span>Works</span></h3>
                <p class="content-details text-center">
                    Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                </p>
                <!--GRID BLOG-->
                <div class="grid">
                    <div class="grid-item">
                        <div class="wrap-article">
                            <img alt="blog-1" class="img-circle text-center" src="https://source.unsplash.com/133x133?calculator">
                            <p class="subtitle fancy">
                                <!-- <span>09/01/2015</span> -->
                            </p>
                            <a href="#top">
                                <h3 class="title">
                                    Project 1
                                </h3>
                            </a>
                            <p class="content-blog">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                            </p>
                        </div>
                    </div>

                    <div class="grid-item">
                        <div class="wrap-article">
                            <img alt="blog-4" class="img-circle text-center" src="https://source.unsplash.com/133x133?british">
                            <p class="subtitle fancy">
                                <!-- <span>08/20/2015</span> -->
                            </p>
                            <a href="#top">
                                <h3 class="title">
                                    Project 2
                                </h3>
                            </a>
                            <p class="content-blog">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                        </div>
                    </div>

                    <div class="grid-item">
                        <div class="wrap-article">
                            <img alt="blog6" class="img-circle text-center" src="https://source.unsplash.com/133x133?library">
                            <p class="subtitle fancy">
                                <!-- <span>08/11/2015</span> -->
                            </p>
                            <a href="#top">
                                <h3 class="title">
                                    Project 3
                                </h3>
                            </a>
                            <p class="content-blog">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                        </div>
                    </div>
                </div>
                <!--/.GRID BLOG END-->
            </div>
        </div>
    </div>
</section>
