<section class="bg-gray" id="projects">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>DLF Dashboard</h3>
        <h4>Collaborative. Collegial. Creative.</h4>
        <p class="content-detail">Tools and resources from DLF Groups and Affiliates, designed to foster our community of practice and get work done.</p>
        <p class="content-detail"></p>
        <h5>Filter by</h5>
        <div class="filter-options">
          <button class="btn btn-primary" data-group="dlf-groups">DLF Groups</button>
          <button class="btn btn-primary" data-group="dlf-affiliates">DLF Affiliates</button>
          <button class="btn btn-primary" data-group="best-practices">Best Practices</button>
          <button class="btn btn-primary" data-group="toolkits">Toolkits</button>
          <button class="btn btn-primary" data-group="profesional-development">Professional Development</button>
          <button class="btn btn-primary" data-group="visualizations">Visualizations</button>
          <button class="btn btn-primary" data-group="reports">Reports & Grey Literature</button>
          <button class="btn btn-primary" data-group="events">Events</button>
        </div>
      </div>

      <div class="col-9">

        <div class="container">
          <div id="grid" class="row my-shuffle-container">
            {% for project in site.data.projects %}
            <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='{{ project.groups | append: """ | join: ", " }}' data-date-created="2017-04-30" data-title="Lake Walchen">
              <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                  <div class="aspect__inner">
                    <img src="{{ project.image }}" alt="{{ project.name }}" />
                    <!-- <img class="picture-item__blur" src="{{ project.image }}" alt="{{ project.name }}" aria-hidden="true" /> -->
                  </div>
                </div>

                <div class="picture-item__details">
                  <figcaption class="picture-item__title"><a href="{{ project.url }}" target="_blank" rel="noopener">{{ project.description }}</a></figcaption>
                  <p class="picture-item__tags hidden@xs">{{ project.groups | join: ", " }}</p>
                </div>

              </div>
            </figure>
            {% endfor %}

          x
          </div>
        </div>
      </div>
    </section>
