<!-- <section class="bg-gray" id="works3">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h3 class="title-small">
          <span>Works.</span>
        </h3>
        <p class="content-detail">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </p>
      </div>
      <div class="col-9">
        <div class="row">
          <ul class="listing-item">
            <li>
              <div class="col-6">
                <div class="wrap-card">
                  <div class="card">
                    <h2 class="year">
                      Digitization Cost Calculator
                    </h2>
                    <p class="job">
                      Person Leading
                    </p>
                    <p class="company">
                      Something Else?
                    </p>
                    <hr>
                    <div class="text-detail">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="col-6">
                <div class="wrap-card">
                  <div class="card">
                    <h2 class="year">
                      JISC Pilot
                    </h2>
                    <p class="job">
                      Project lead
                    </p>
                    <p class="company">
                      Something else
                    </p>
                    <hr>
                    <div class="text-detail">
                      <p>
                        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo
                        typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <ul class="listing-item">
            <li>
              <div class="col-6">
                <div class="wrap-card">
                  <div class="card">
                    <h2 class="year">
                      Project 3
                    </h2>
                    <p class="job">
                      Project Lead
                    </p>
                    <p class="company">
                      Something else
                    </p>
                    <hr>
                    <div class="text-detail">
                      <p>
                        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo
                        typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="col-6">
                <div class="wrap-card">
                  <div class="card">
                    <h2 class="year">
                      Project 4
                    </h2>
                    <p class="job">
                      Project Lead
                    </p>
                    <p class="company">
                      Other
                    </p>
                    <hr>
                    <div class="text-detail">
                      <p>
                        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo
                        typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
