<section class="bg-gray" id="works2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="title-small-center text-center"><span>Resources</span></h3>
                <p class="content-details text-center">
                    Reports, white papers, annotated bibliographies, toolkits, and more.
                </p>
                <!--GRID BLOG-->
                <div class="grid">
                    <div class="grid-item">
                        <div class="wrap-article">
                            <img alt="blog-1" class="img-circle text-center" src="https://source.unsplash.com/133x133?calculator">
                            <p class="subtitle fancy">
                                <!-- <span>09/01/2015</span> -->
                            </p>
                            <a href="#top">
                                <h3 class="title">
                                    Research Agenda for Valuing Labor in Digital Libraries
                                </h3>
                            </a>
                            <p class="content-blog">
                                From empirical evidence to testimonies to guidance and best practices, this document lays out a research agenda for valuing labor.
                            </p>
                        </div>
                    </div>

                    <div class="grid-item">
                        <div class="wrap-article">
                            <img alt="blog-4" class="img-circle text-center" src="https://source.unsplash.com/133x133?british">
                            <p class="subtitle fancy">
                                <!-- <span>08/20/2015</span> -->
                            </p>
                            <a href="#top">
                                <h3 class="title">
                                    Annotated Bibliography for Cultural Assessment of Digital Collections
                                </h3>
                            </a>
                            <p class="content-blog">
                                An environmental scans urrounding cultural and procedural biases in cultural heritage institutions with a focus on the impact of said biases on digital collections.
                            </p>
                        </div>
                    </div>

                    <div class="grid-item">
                        <div class="wrap-article">
                            <img alt="blog6" class="img-circle text-center" src="https://source.unsplash.com/133x133?library">
                            <p class="subtitle fancy">
                                <!-- <span>08/11/2015</span> -->
                            </p>
                            <a href="#top">
                                <h3 class="title">
                                    DLF Project Managers Toolkit
                                </h3>
                            </a>
                            <p class="content-blog">
                                A crowdsourced collection of information, tips, techniques, and tools for project managers working in digital libraries.
                            </p>
                        </div>
                    </div>
                </div>

                <p></p><p></p>
                <center><a href="#" class="myButton">more</a></center>
                <!--/.GRID BLOG END-->
            </div>
        </div>
    </div>
</section>
