@import 'variables';
@import 'scrolltop';
@import 'portfolio';
@import 'grid';

$light-gray: #F9F9F9;
$gray: #f6f6f6;
$dark-gray: #2f2f2f;

p {
  margin: 0 0 10px;
}

.content-detail {
  font-weight: 400;
  margin-top: 70px;
  line-height: 30px;
  font-size: 14px;
  letter-spacing: 0.4px;
}

.gray-bg {
  background: $gray;
  padding: 120px 0;
  display: block;
}

.gray-white {
  background: #fff;
  padding: 120px 0;
  display: block;
}
