@import 'variables';
@import 'scrolltop';
@import 'header';
@import 'portfolio';
@import 'grid';
@import 'testimonials';
@import 'card';
@import 'footer';

@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Crimson+Text';

p {
  margin: 0 0 10px;
}

.content-detail {
  font-weight: 400;
  margin-top: 70px;
  line-height: 30px;
  font-size: 14px;
  letter-spacing: 0.4px;
}

.footer-banner {
  background-color: #34495e;
  color: #fff;
  margin-left: 42px;
  min-height: 316px;
  padding: 0 30px 30px;
}



.bg-gray {
  background: $gray;
  padding: 120px 0;
  display: block;
}

.bg-white {
  background: #fff;
  padding: 120px 0;
  display: block;
}
