@import 'variables';
@import 'scrolltop';
@import 'header';
@import 'portfolio';
// @import 'shuffle';
// @import 'shuffle-base';

@import 'footer';

// TODO: remove unused fonts
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Crimson+Text|Fira+Sans|Abril+Fatface|Open+Sans';

p {
  margin: 0 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

}

h5 {
  font-family: 'Abril Fatface', cursive;

}

h3 {
  font-family: 'Open Sans', sans-serif;

}

.footer-banner {
  background-color: $blueberry;
  color: #fff;
  margin-left: 42px;
  min-height: 316px;
  padding: 0 30px 30px;
}

.bg-gray {
  background: $gray;
  padding: 120px 0;
  display: block;
}

.bg-white {
  background: #fff;
  padding: 120px 0;
  display: block;
}
