@import 'variables';

footer {

  a { color: $blush; }

  h3 {
    padding-top: 80px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 300;
  }

  .footer-info-area {
    padding: 40px 0;
    background-color: #585858;
    color: #fff;
    a {
      color: #97a0af;

      &:hover {
        color: $blush;
        // transition: ease 0.5s;
      }
    }
  }

  .footer-banner {
    color: #fff;
    padding-bottom: 100px;

    a { color: $light-gray; }
  }
}
